body {
  margin: 0px;
  margin-top: -20px;
}

#page-header {
  height: 65vh;
  background-image: url("https://ninjasfiles.s3.amazonaws.com/asset_0000000000000020_1549743985_macbook_mouse.jpg");
  background-size: cover;
  background-attachment: fixed;
  opacity: 0.8;
  background-position: center;
}
#content {
  height: 1000px;
}

/* navigation - menu */

.nav-list {
  list-style: none;
  margin-top: 20px;
  text-align: center;
}

.nav-list li {
  display: inline;
  color: blanchedalmond;
  margin: 8px;
}
#nav {
  margin-top: 20px;
  padding: 15px;
}

.nav-list li a {
  text-decoration: none;
  color: white;
  transition: color 0.5s, border-bottom 4s;
  font-size: 1.2rem;
}

.nav-list li a:hover {
  color: lightgray;
}

#nav-list li a:hover {
  border-bottom: 1px solid white;
}
/* name and profiles */

#profiles {
  margin-top: -20px;
}

#name {
  color: white;
  font-size: 3.5rem;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 0px;
  letter-spacing: 0.2rem;
}

.socialicons li a i {
  padding: 15px;
  font: size 1rem;
  border-radius: 50%;
}

.socialicons li a i:hover {
  box-shadow: 0px 0px 6px 4px rgba(230, 196, 196, 0.3);
}

/* about section */

#about {
  width: 100%;
  height: auto;
  position: relative;
}

#profile-image {
  height: 12rem;
  width: 12rem;
  margin: auto;
  margin-top: -17vh;
}

#profile-image img {
  height: 100%;
  width: 100%;
  border: 3px solid white;
  border-radius: 50%;
  box-shadow: 0px 0px 6px 4px lightgray;
}
#about-para {
  margin-left: 15%;
  margin-right: 15%;
}

#about-para p {
  color: grey;
  font-size: 1.3rem;
  word-spacing: 0.3rem;
  line-height: 02rem;
  text-align: justify;
}
.highlight {
  color: #105dcf;
}

/* main */

#content section {
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

#content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

section:nth-child(2n + 1) {
  background-color: white;
}

section:nth-child(2n) {
  background-color: rgb(236, 225, 225);
}

#skill-container {
  width: 60vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-heading {
  font-size: 2.5rem;
  color: #2857a4;
  padding: 1rem;
  margin: 2rem;
  letter-spacing: 0.1rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.section-heading > div {
  padding: 0.5rem;
}
.section-contents {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 3rem;
}

.outer-div-skills {
  height: 1.4;
  width: 9rem;
  background-color: lightgrey;

  margin: 1.5rem 0.4rem;
  border-radius: 1.5rem;
  box-shadow: 2px 0px 5px 1px rgb(82, 80, 80);
}

.inner-div-skills {
  height: inherit;
  border-top-left-radius: inherit;
  border-bottom-left-radius: inherit;
}

.inner-div-skills span {
  padding: 10px;
}

#python {
  width: 65%;
  background-color: #2857a4;
  height: inherit;
  padding: 4px;
  box-shadow: 3px 1px 6px 0px rgb(82, 80, 80);
}

#html {
  width: 65%;
  background-color: #ec4d1c;
  height: inherit;
  padding: 4px;
  box-shadow: 3px 1px 6px 0px rgb(82, 80, 80);
}

#css {
  width: 65%;
  background-color: #93738c;
  height: inherit;
  padding: 4px;
  box-shadow: 3px 1px 6px 0px rgb(82, 80, 80);
}

#javascript {
  width: 65%;
  background-color: #0b8176;
  height: inherit;
  padding: 4px;
  box-shadow: 3px 1px 6px 0px rgb(82, 80, 80);
}

#nodejs {
  width: 65%;
  background-color: cornflowerblue;
  height: inherit;
  padding: 4px;
  box-shadow: 3px 1px 6px 0px rgb(82, 80, 80);
}

#mongodb {
  width: 65%;
  background-color: cornflowerblue;
  height: inherit;
  padding: 4px;
  box-shadow: 3px 1px 6px 0px rgb(82, 80, 80);
}
