body {
  margin: 0px;
  margin-top: -20px;
  overflow-x: hidden;
}

#page-header {
  height: 65vh;
  background-image: url("https://ninjasfiles.s3.amazonaws.com/asset_0000000000000020_1549743985_macbook_mouse.jpg");
  background-size: cover;
  background-attachment: fixed;
  opacity: 0.8;
  background-position: center;
}
#content {
  height: 1000px;
}

/* navigation - menu */

.nav-list {
  list-style: none;
  margin-top: 20px;
  text-align: center;
  padding: 0;
}

.nav-list li {
  display: inline;
  color: blanchedalmond;
  margin: 8px;
}
#nav {
  margin-top: 20px;
  padding: 15px;
}

.nav-list li a {
  text-decoration: none;
  color: white;
  transition: color 0.5s, border-bottom 4s;
  font-size: 1.2rem;
}

.nav-list li a:hover {
  color: lightgray;
}

#nav-list li a:hover {
  border-bottom: 1px solid white;
}

#profile-list li a i:hover {
  transform: scale(1.3);
}

/* name and profiles */

#profiles {
  margin-top: -20px;
}

#name {
  color: white;
  font-size: 3.5rem;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 0px;
  letter-spacing: 0.2rem;
}

.socialicons li a i {
  padding: 15px;
  font: size 1rem;
  border-radius: 50%;
}

.socialicons li a i:hover {
  box-shadow: 0px 0px 6px 4px rgba(230, 196, 196, 0.3);
}

/* about section */

#about {
  width: 100%;
  height: auto;
  position: relative;
}

#profile-image {
  height: 12rem;
  width: 12rem;
  margin: auto;
  margin-top: -17vh;
}

#profile-image img {
  height: 100%;
  width: 100%;
  border: 3px solid white;
  border-radius: 50%;
  box-shadow: 0px 0px 6px 4px lightgray;
}
#about-para {
  margin-left: 15%;
  margin-right: 15%;
}

#about-para p {
  color: grey;
  font-size: 1.3rem;
  word-spacing: 0.3rem;
  line-height: 02rem;
  text-align: justify;
}
.highlight {
  color: #105dcf;
}

/* main */

#content section {
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

#content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

section:nth-child(2n + 1) {
  background-color: white;
}

section:nth-child(2n) {
  background-color: #efefef;
}

#skill-container {
  width: 60vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-heading {
  font-size: 2.5rem;
  color: #2857a4;
  padding: 1rem;
  margin: 2rem;
  letter-spacing: 0.1rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.section-heading > div {
  padding: 0.5rem;
}

/* skills */
.section-contents {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 3rem;
}

.outer-div-skills {
  width: 11rem;
  background-color: lightgrey;

  margin: 2rem 1rem;
  border-radius: 1.5rem;
  box-shadow: 2px 0px 5px 1px rgb(82, 80, 80);
}

.inner-div-skills {
  height: inherit;
  border-top-left-radius: inherit;
  border-bottom-left-radius: inherit;
}

.inner-div-skills span {
  padding: 10px;
  color: white;
}

#python {
  width: 70%;
  background-color: #2857a4;
  height: inherit;
  padding: 4px;
  box-shadow: 3px 1px 6px 0px rgb(82, 80, 80);
}

#html {
  width: 80%;
  background-color: #ec4d1c;
  height: inherit;
  padding: 4px;
  box-shadow: 3px 1px 6px 0px rgb(82, 80, 80);
}

#css {
  width: 70%;
  background-color: #93738c;
  height: inherit;
  padding: 4px;
  box-shadow: 3px 1px 6px 0px rgb(82, 80, 80);
}

#javascript {
  width: 70%;
  background-color: #0b8176;
  height: inherit;
  padding: 4px;
  box-shadow: 3px 1px 6px 0px rgb(82, 80, 80);
}

#nodejs {
  width: 60%;
  background-color: cornflowerblue;
  height: inherit;
  padding: 4px;
  box-shadow: 3px 1px 6px 0px rgb(82, 80, 80);
}

#mongodb {
  width: 65%;
  background-color: #13aa52;
  height: inherit;
  padding: 4px;
  box-shadow: 3px 1px 6px 0px rgb(82, 80, 80);
}

/* portfolio */

#portfolio-container {
  width: 70vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-contents img {
  width: 100%;
  height: auto;
}

#portfolio-galary > div {
  width: 300px;
  height: 300px;
}

#portfolio-galary > div:hover {
  box-shadow: 0px 0px 15px 8px rgba(230, 196, 196, 0.3);
}

/* about */
#contact {
  background-image: linear-gradient(#403066, #2857a4);
}

#contact-container {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#white {
  color: white;
}

#contact-details {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  color: white;
  justify-content: space-around;
  width: 90%;
  font: 1em sans-serif;
  word-spacing: 0.2rem;
  letter-spacing: 1px;
  margin-bottom: 5rem;
}
#form {
  width: 45%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
#form form {
  width: 100%;
}

#form input,
textarea {
  display: block;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid white;
  width: 100%;
  height: 2.5rem;
  padding: 0.5rem;
  font: 1em sans-serif;
  color: white;
  margin-bottom: 1.2rem;
}
#send-button {
  background-color: transparent;
  border: none;
  color: white;
  font: 1em sans-serif;
  padding: 0.7rem;
  border: 2px solid white;
}

#address {
  min-width: 300px;
  max-width: 400px;
  text-align: justify;
}

.grey {
  color: lightgrey;
}

#footer-menu {
  margin-bottom: 4rem;
}

/* work container */

.work-edu-container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  align-items: center;
}

.work-edu-details {
  width: 80%;
  position: relative;
}

.work-box {
  width: 40%;
  margin: 0.4rem;
  min-height: 150px;
  min-width: 200px;
  max-width: 370px;
  position: relative;
  margin-top: 4%;
}

.work-box:nth-child(2n + 1) {
  left: 5%;
}

.work-box:nth-child(2n) {
  left: 52%;
}

.travler-line {
  border-left: 1px dashed rgb(168, 167, 167);
  position: absolute;
  top: 15%;
  left: 50%;
  width: 0px;
  height: 65%;
}

.travler {
  position: sticky;
  top: 38%;
  font-size: 2rem;
  color: #2857a4;
  transform: rotate(90deg);
  z-index: 1;
}

.travler-line .dot1 {
  position: absolute;
  color: rgb(168, 167, 167);
  font-size: 0.5rem;
  top: 0%;
  right: -3px;
}

.travler-line .dot2 {
  position: absolute;
  color: rgb(168, 167, 167);
  font-size: 0.5rem;
  top: 100%;
  right: -3px;
}

/* work box */
.logo-of-work img {
  width: 2.5rem;
  height: 2.5rem;
  display: inline-block;
}

.logo-of-work h4 {
  display: inline-block;
  position: absolute;
  top: -10%;
  right: 5%;
  color: #2857a4;
  font-size: 1.2rem;
}

.logo-of-work h5 {
  display: inline-block;
  position: absolute;
  top: 0%;
  right: 5%;
  color: #df903c;
  font-size: 1.2rem;
}
/* description */
.work-para {
  margin: 0px 10px;
  color: grey;
  text-align: justify;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 0.04rem;
}

/* ham menu */

#ham {
  top: 0px;
  left: 0px;
  overflow: hidden;
}

#menu {
  position: fixed;
  height: 0;
  width: 0;
  top: 0;
  left: 0;
  overflow: hidden;
  transition: all 0.1s ease-out;
}

#menu:target {
  height: 100%;
  width: 60%;
  background-image: linear-gradient(#403066, #2857a4);
  font-size: 2rem;
  color: black;
}

#restore {
  position: absolute;
  top: 30px;
  right: 10px;
  color: black;
}
#restore a {
  color: antiquewhite;
}

@media screen and (max-width: 768px) {
  .travler-line {
    left: 5%;
  }
  .work-box {
    left: 15% !important;
    width: 75%;
  }
  #form {
    width: 100%;
  }
  #form form {
    width: 70%;
    margin-bottom: 30px;
  }
  #address {
    max-width: 70%;
  }
  #send {
    max-width: 160px;
    margin: auto;
  }
}

@media screen and (max-width: 572px) {
  #ham {
    position: fixed;
    top: 30px;
    left: 20px;
    font-size: 2rem;
  }
  #ham a {
    color: #09dffc;
  }

  #nav {
    width: 0;
    height: 0;
    overflow: hidden;
  }
  #page-header {
    height: 50vh;
  }
  #name {
    font-size: 2.5rem;
  }
  .nav-list i {
    font-size: 1rem;
  }
  .nav-list li {
    margin: 0;
  }
}
